In [37]:
import pandas as pd

df = pd.read_csv("../vehicles_us.csv")
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [39]:
df['model_year'] = df['model_year'].fillna(df['model_year'].mean()).astype(int)
df['model'] = df['model'].str.upper()
df['condition'] = df['condition'].str.upper().fillna('UNKNOWN').astype('category')
df['cylinders'] = df['cylinders'].fillna(df['cylinders'].mean()).astype(int)
df['fuel'] = df['fuel'].str.upper().astype('category')
df['odometer'] = df['odometer'].fillna(df['odometer'].mean()).astype(int)
df['transmission'] = df['transmission'].str.upper()
df['type'] = df['type'].str.upper()
df['paint_color'] = df['paint_color'].str.upper().fillna('UNKNOWN').astype('category')
df['date_posted'] = pd.to_datetime(df['date_posted'])
df['is_4wd'] = df['is_4wd'].fillna('0').astype('int')
df.columns = df.columns.str.upper()

In [40]:
df.head()

,PRICE,MODEL_YEAR,MODEL,CONDITION,CYLINDERS,FUEL,ODOMETER,TRANSMISSION,TYPE,PAINT_COLOR,IS_4WD,DATE_POSTED,DAYS_LISTED
0,9400,2011,BMW X5,GOOD,6,GAS,145000,AUTOMATIC,SUV,UNKNOWN,1,2018-06-23,19
1,25500,2009,FORD F-150,GOOD,6,GAS,88705,AUTOMATIC,PICKUP,WHITE,1,2018-10-19,50
2,5500,2013,HYUNDAI SONATA,LIKE NEW,4,GAS,110000,AUTOMATIC,SEDAN,RED,0,2019-02-07,79
3,1500,2003,FORD F-150,FAIR,8,GAS,115553,AUTOMATIC,PICKUP,UNKNOWN,0,2019-03-22,9
4,14900,2017,CHRYSLER 200,EXCELLENT,4,GAS,80903,AUTOMATIC,SEDAN,BLACK,0,2019-04-02,28

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRICE         51525 non-null  int64
 1   MODEL_YEAR    51525 non-null  int64
 2   MODEL         51525 non-null  object
 3   CONDITION     51525 non-null  category
 4   CYLINDERS     51525 non-null  int64
 5   FUEL          51525 non-null  category
 6   ODOMETER      51525 non-null  int64
 7   TRANSMISSION  51525 non-null  object
 8   TYPE          51525 non-null  object
 9   PAINT_COLOR   51525 non-null  category
 10  IS_4WD        51525 non-null  int64
 11  DATE_POSTED   51525 non-null  datetime64[ns]
 12  DAYS_LISTED   51525 non-null  int64
dtypes: category(3), datetime64[ns](1), int64(6), object(3)
memory usage: 4.1+ MB